@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero {
  background-image: linear-gradient(
      to bottom right,
      rgba(251, 250, 250, 0.5),
      rgba(3, 14, 0, 0.9)
    ),
    url("./img/sandro-schuh-HgwY_YQ1m0w-unsplash.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

section,
nav {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  align-items: center;
}

section {
  flex-basis: 70%;
}

.sct-btn {
  width: 50%;
  height: 20%;
  margin: 20px auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

/* NAVIGATION PANEL */

.profile-pic {
  border-radius: 50%;
  border: white 2px solid;
}

nav a {
  margin: 30px;
  color: white;
  text-decoration: none;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
}

/* CREATE MATCH */

.match-popup {
  position: absolute;
  left: 15%;
  right: 45%;
  top: 25%;
  margin: 20px auto;
  border: 5px gray solid;
  background-color: white;
  padding: 50px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  section,
  nav {
    width: 100%;
    margin-top: 60px;
  }
  .match-popup {
    right: 15%;
  }
}

/* SELECTION */

.container-selection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
}

.players-section {
  flex-basis: 33%;
  margin: 0 25px;
  text-align: center;
}

.team > div {
  border: black solid 1px;
  border-radius: 15%;
  margin: 1px;
}

h4 {
  margin-bottom: 20px;
}

.empty {
  background-color: gray;
}

.selected-green {
  background-color: green;
}
.selected-red {
  background-color: red;
}

#finalise-btn {
  display: block;
  margin: 0 auto;
}

.player {
  border: 1px black solid;
  margin: 3px;
}
