@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

section,
nav {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  align-items: center;
}

section {
  flex-basis: 70%;
}

nav a {
  margin: 30px;
  color: white;
}

.sct-btn {
  width: 50%;
  height: 20%;
  margin: 20px auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
}

a {
  text-decoration: none;
}

.hero {
  background-image: linear-gradient(
      to bottom right,
      rgba(251, 250, 250, 0.5),
      rgba(3, 14, 0, 0.9)
    ),
    url("./img/sandro-schuh-HgwY_YQ1m0w-unsplash.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.profile-pic {
  border-radius: 50%;
  border: white 2px solid;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  section,
  nav {
    width: 100%;
    margin-top: 60px;
  }
}
